transactionservice/src/main/resources/xsd/transaction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/transactionservice"
           xmlns:tns="http://example.com/transactionservice"
           elementFormDefault="qualified">

    <xs:element name="TransactionRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cardNumber" type="xs:string"/>
                <xs:element name="amount" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TransactionResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>